<div class="flex justify-center">
    <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
        <legend class="fieldset-legend">Register</legend>
    
        <label class="fieldset-label">Email</label>
        <input type="email" class="input" placeholder="Email" />
    
        <label class="fieldset-label">Password</label>
        <input type="password" class="input" placeholder="Password" />
        <input type="password" class="input" placeholder="Confirm Password" />
    
        <button class="btn btn-neutral mt-4">Register</button>
    </fieldset>
</div>